.explore-building-card {
  &__img-wrapper {
    height: 28rem;
    width: 100%;
    position: relative;
    transition: color ease 0.5s;

    @media screen and (max-width: 767px) {
      height: 30rem;

      .explore-building-card__overlay
        > .explore-building-card__intro-container {
        max-height: 60rem;
      }
      .explore-building-card__overlay {
        background-color: var(--mainWhite);
        color: var(--darkGrey);
      }
      .explore-building-card__overlay
        > .explore-building-card__intro-container
        .explore-building-card__intro {
        color: var(--mainBlack);
        opacity: 1;
      }
    }

    &:hover
      > .explore-building-card__overlay
      > .explore-building-card__intro-container {
      max-height: 60rem;
    }

    &:hover > .explore-building-card__overlay {
      background-color: var(--mainWhite);
      color: var(--darkGrey);
    }

    &:hover > .explore-building-card__overlay > .explore-building-card__name {
      color: var(--primaryColor);
    }
    &:hover
      > .explore-building-card__overlay
      > .explore-building-card__intro-container
      .explore-building-card__intro {
      color: var(--mainBlack);
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    bottom: -3rem;
    width: 88%;
    margin-left: 6%;
    margin-top: 6%;
    padding: 2rem 3rem 2rem 3rem;
    background-color: var(--mainWhite);
    transition: background-color ease 0.4s;
    box-shadow: 3px 8px 20px 0 rgba(209, 209, 209, 0.55);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background-color: var(--primaryColor);
    }
  }

  &__name {
    color: var(--mainBlack);
    font-family: var(--mainFontBold);
    font-size: 1.7rem;
    text-transform: uppercase;
    padding-top: 0.5rem;
    margin-bottom: 0rem;
    align-self: center;
    transition: color ease 0.4s;

    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: 600px) {
      text-align: center;
      color: var(--mainBlack);
    }
  }

  &__intro-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.6s;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  &__intro {
    font-size: 1.3rem;
    text-align: left;
    padding-top: 1rem;
    color: var(--mainWhite);
    transition: color ease 0.4s;
    opacity: 0;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
