.the-story {
  grid-column: center-start / center-end;

  @media screen and (max-width: 600px) {
    grid-column: full-start / full-end;
  }

  &__content {
    padding: 5rem 5rem;
    margin: 0 auto;
    width: 86rem;

    @media screen and (max-width: 968px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem;
    }
  }

  &__text {
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-align: center;

    &:first-child {
      margin-bottom: 2.5rem;
    }
  }
}
