.section-apartments {
  &__title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  &__building-name {
    text-transform: capitalize;
  }
}

.apartments-list {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  @media only screen and (max-width: 1150px) {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  @media only screen and (max-width: 550px) {
    grid-column: full-start / full-end;
    grid-row-gap: 1rem;
  }
}
