.swiper-slide {
  position: relative;
  grid-column: full-start / full-end;

  &__img-wrapper {
    max-height: 50vh;
    width: 100vw;

    @media screen and (min-width: 1990px) {
      max-height: 70vh;
    }
  }

  &__box {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    border-radius: 6px;
    top: 12rem;
    left: 2rem;
    position: absolute;
    height: 60%;
    max-width: 42rem;
    background-color: var(--mainWhite);
    padding: 3.5rem 2.5rem 3.7rem;
  }

  &__img {
    height: 100%;
    width: auto;
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-size: 5rem;
    font-family: var(--mainFontBold);
    text-align: left;
    text-transform: uppercase;
    color: var(--darkColor);

    margin-bottom: 0;
    line-height: 1.1;
    letter-spacing: -0.42px;

    @media screen and (max-width: 765px) {
      font-size: 3.8rem;
    }

    span {
      display: block;
      font-family: var(--mainFont);
    }
  }

  &__description {
    font-size: 1.45rem;
    line-height: 2.6rem;
    text-align: left;
    margin: 0;
    color: var(--darkColor);

    // @media screen and (max-width: 765px) {
    //   font-size: 3.5rem;
    // }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    display: block;
    border-radius: 9px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.4rem;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 0;
    align-self: center;
    transition: 0.3s;
    width: 100%;
  }

  &__cta-left {
    flex: 0 0 calc(50% - 8px);
    width: calc(50% - 8px);
    margin-right: 8px;

    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border: 1px solid var(--primaryColor);
  }

  &__cta-right {
    flex: 0 0 calc(50% - 5px);
    width: calc(50% - 8px);

    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
  }

  &__cta-bottom {
    width: 100%;
    flex: 0 0 100%;
    flex: 1;

    padding-left: 1.5rem;
    padding-right: 3.5rem;

    position: relative;
    background-color: #000;
    color: var(--mainWhite);
    border-color: #000;
    padding-left: 15px;
    padding-right: 35px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--mainWhite) !important;
    font-size: 2rem !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 3rem !important;
  }

  .swiper-pagination-bullet {
    background-color: var(--mainWhite);
    width: 1.1rem;
    height: 1.1rem;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--primaryColor);
  }
}
