.building-slider-card {
  display: grid;
  overflow-x: hidden;

  @media only screen and (max-width: 550px) {
    padding: 0 2rem;
  }

  &__img-wrapper {
    position: relative;
    height: 25rem;
    width: calc(100% - 2.5rem);

    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 2.5rem;

    background-color: #6c757d;

    @media only screen and (max-width: 550px) {
      margin-left: 1.25rem;
      margin-right: 3.5rem;
    }
  }

  &__img {
    width: 12rem;
    object-fit: cover;

    @media only screen and (max-width: 550px) {
      height: 12rem;
      width: 12rem;
    }
  }

  &__badge-wrapper {
    position: absolute;
    width: 90%;

    top: 0;
    left: 0;
    color: var(--mainWhite);
    z-index: 100;

    @media only screen and (max-width: 500px) {
      right: 10px;
    }
  }

  &__badge {
    position: absolute;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 0.8px;
    padding: 0.8rem 2rem;
    background: var(--mainBlack);
    font-family: var(--mainFontBold);
  }

  &__data {
    text-align: center;
    margin-left: 2.5rem;
    padding: 3rem;
    min-height: 28rem;

    background-color: var(--mainWhite);

    @media only screen and (max-width: 550px) {
      min-height: 28rem;
      margin: 0 1.35rem 0 1.3rem;
    }
  }

  &__reviews {
    font-size: 1.4rem;
  }

  &__title {
    font-family: var(--mainFontBold);
    font-size: 1.6rem;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
  &__review {
    font-size: 1.5rem;
  }
}
