.banner {
  text-align: left;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);

  grid-column: center-start / center-end;
  margin-top: -30rem;
  padding: 0 1rem;

  @media screen and (max-width: 1100px) {
    margin-top: -10rem;
    grid-column: full-start / full-end;
    padding: 3rem;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
    grid-column: full-start / full-end;
  }

  &__btn-primary {
    margin-right: 2rem;
  }

  &__title {
    font-family: var(--mainFontBold);
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: var(--mainSpacing);

    &--first {
      display: block;
      margin-bottom: -3rem;
    }

    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }

  &__info {
    width: 100%;
    font-family: var(--mainFont);
    font-size: 1.6rem;
    margin-bottom: 5rem;
    color: var(--mainWhite);
    font-weight: 300;
    letter-spacing: var(--mainSpacing);

    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    width: 100%;

    &__title {
      font-size: 6rem;
    }

    &__info {
      font-family: var(--mainFont);
      font-weight: 400;
      line-height: 2.7rem;
      width: 70%;
      font-size: 1.7rem;
    }
  }

  @media screen and (min-width: 1026px) {
    &__title {
      font-size: 4.8rem;
    }
  }

  @media screen and (max-width: 550px) {
    &__buttons {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      // margin: 0 auto;
    }
  }
}
